---
import { getCollection } from 'astro:content';

const packages = await getCollection('packages');
---

<html lang='en'>
	<head>
		<title>Tourism Packages</title>
	</head>
	<body>
		<h1>Available Packages</h1>
		<ul>
			{
				packages.map((pkg) => (
					<li>
						<a href={`/packages/${pkg.slug}/`}>
							<h2>{pkg.data.title}</h2>
							<p>
								{pkg.data.duration} — ${pkg.data.price}
							</p>
						</a>
					</li>
				))
			}
		</ul>
	</body>
</html>
